*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}
header{
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #121212;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #222;
}
header h2{
    font-weight: 600;
    font-size: 15px;
}
.container{
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 40px;
    background: #29272795;
    border-radius: 10px;

    color: white;
    margin-top: 10px;
}
.profile-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-content img{
    width: 5rem;
    height:5rem;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white;
    margin-bottom: 7px;
}
.span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.span p{
    margin-right: 10px;
     color: #888;
    font-size: 0.9em;
}
.span i{
    margin-left: 30px;
    cursor: pointer;
     color: #ccc;
     font-size: 1.5rem;

}
.span i:hover{
    color: white;
}
.span a{
     color: #ccc;
     text-decoration: none;
}
.edit{
    text-align: center;
    margin-top: 10px;
    background: #000;
    border: 1px solid #555;
    color: #ccc;
    padding: 7px;
    border-radius: 5px;
}
.edit button{
    background: none;
    border: none;
    color: #ccc;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
}
.nav{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-bottom: 1px solid #555;
    list-style: none;
    cursor: pointer;
}
.nav span:hover{
    color: white;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.composer{
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.composer img{
    width: 3rem;
    height:3rem;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white;
    margin-right: 10px;
}
.composer textarea{
    width: 100%;
    height: 60px;
    background: none;
    
    border-radius: 8px;
    color: white;
    padding: 10px;
    font-size: 1rem;
    resize: none;
    border: none;
}
.composer textarea::placeholder{
    color: #555;
}
.composer button{
    background: #000;
    border: 1px solid #555;
    color: #ccc;
    padding: 7px 15px;
    border-radius: 5px;
    font-weight: 600;
    margin-left: 10px;
    cursor: pointer; 
    max-width: 100px; 
}
.profile-settings{
    margin-top: 20px;
}
.profile-settings h4{
    margin-bottom: 15px;
}
.profile-cards{
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    overflow-x: auto;
}
.card-1{
    background: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #333;
    text-align: center;
    max-width:  50%;

}
.card-1 h4{
    margin-bottom: 10px;
}
.card-1 p{
    color: #888;
    font-size: 0.9em;
}
.card-1 i{
    cursor: pointer;
     color: #ccc;
     font-size: 1.2rem;
     margin-top: 10px;
     background: #000;
     width: 4rem;
     height: 4rem;
     border-radius: 50%;
     text-align: center;
     align-items: center;
     align-content: center;
    justify-content: center;
}
.card-1 button, .card2 button{
    background: #000;
    border: 1px solid #555;
    color: #ccc;
    padding: 7px 15px;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer; 
    max-width: 100px;
}
.card2 {
    background: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #333;
    text-align: center;
    max-width:  50%;

}
.card2 h4{
    margin-bottom: 10px;
}
.card2 p{
    color: #888;
    font-size: 0.9em;
}
.card2 i{
    cursor: pointer;
     color: #ccc;
     font-size: 1.2rem;
     margin-top: 10px;
     background: #000;
     width: 4rem;
     height: 4rem;
     border-radius: 50%;
     text-align: center;
     align-items: center;
     align-content: center;

}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background: #000;
    border-top: 1px solid #222;
    color: white;
   margin-bottom: auto;
  }
  .bottom-nav {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    color: #ccc;
    font-size: 1.3rem;
  }
  .bottom-nav i{
    cursor: pointer;
    color: #ccc;

  }
  .bottom-nav > div{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  @media (min-width: 600px) {
    footer {
      position: fixed;
        bottom: 0;
        top: auto;
        width: 100%;
        height: 3rem;
    }
    /* .social{
        text-align: center;
        margin-left: 29px;
    } */
    header {
      position: fixed;
        top: 0;
        width: 100%;
        height: 60px;
       
    }
   
  }
  @media (max-width: 400px) {
    .profile-content{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .span{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    footer{
        position: sticky;
         bottom: 0;
         font-size: 1.5rem;
         height: 5rem;
    }
    .bottom-nav{
        font-size: 2rem;
    }
   .container{
    padding: 20px;
    height: max-content;
   }
    body{
        padding-top: 0;
        max-width: fit-content;
        max-height: max-content;
       
    }
    footer{
        position: fixed;
       justify-content: center;
    }
  }