*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: black;
    color: white;

}
header{
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #121212;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #222;
}
header h2{
    font-weight: 600;
    font-size: 20px;
}
.container{
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 40px;
    background: #29272795;
    border-radius: 10px;

    color: white;
    margin-top: 20px;
   
}
.container input{
    width: 100%;
    height: 40px;
    margin: 20px 0;
    padding: 0 10px;
    border-radius: 8px;
    border: none;
    background-color: #121212;
    color: white;
    box-shadow: 1px 2px 1px  white;
}
.container input::placeholder{
    color: #888;

}
.container input:focus{
    outline: none;
}
.feed{
    width: 100%;
    margin: auto;
    font-size: 1.5rem;
    font-weight: 300;
}
.thread {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #222;
    padding: 14px 16px;
  }
  .thread .avartar1{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: url(images/bmw1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }
  .thread .body {
    flex: 1;
  }
  .thread .user {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }

  .thread .name {
    font-weight: 600;
    cursor: pointer;
  }
  .thread .handle {
    color: #888;
    font-size: 0.9em;
    cursor: pointer;
  }
  .thread .text {
    margin-top: 6px;
    line-height: 1.5;
    cursor: pointer;
  }
  .thread span{
     color: #888;
    font-size: 0.9em;
    cursor: pointer;
  }
  .but{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
.followers button{
    border: none;
    background: white;
    color: #121212;
    font-size: 1rem;
    font-weight: 600;
    height:  30px;
    width: 80px;
    border-radius: 8px;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
main{
  margin-bottom: 60px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background: #000;
    border-top: 1px solid #222;
    color: white;
   margin-bottom: auto;
  }
  .bottom-nav {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    color: #ccc;
    font-size: 1.3rem;
  }
  .bottom-nav i{
    cursor: pointer;
    color: #ccc;

  }
  .bottom-nav > div{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

