*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}
header{
  position: sticky;
  top: 0;
  background-color: black;
  border-bottom: 1px solid #222;
  z-index: 10;
}
.nav{
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 14px 16px;
  gap: 250px;
}
.logo{
  font-weight: 700;
  font-size: 1.3rem;
}

.nav-icon{
  display: flex;
  gap: 25px;
  font-size: 1.3rem;
  color: #ccc;
}
.nav a{
  color: #ccc;
}
.stories img{
  width: 40%;
  border-radius: 50%;
  box-shadow: 2px 2px 2px solid red;
  border: 2px solid black;
}
.stories{
  max-width: 600px;
  margin: 10px auto;
  display: flex;
  overflow-x: auto;
  padding: 10px 8px;
  gap: 14px;
}
.story{
  text-align: center;
}
.story .circle img{
  width: 60px;
  height: 58px;
  border-radius: 50%;
  border: 3.5px solid red;
  cursor: pointer;
}
.story span{
  font-size: 0.8rem;
  color: #bbb;
  cursor: pointer;
}

.composer img{
width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
}
/* #main
{
 margin: 5%;
} */
.composer textarea {
    flex: 1;
    background: none;
    border: none;
    resize: none;
    color: #fff;
    font-size: 1em;
    height: 48px;
    outline: none;
  }

  .feed, .composer{
    max-width: 600px;
    margin: 0 auto;
  }

  .thread {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #222;
    padding: 14px 16px;
  }
  .thread .avartar1{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: url(images/john.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }
  .thread .avartar2 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: url(images/basit.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }
  .thread .avartar3 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: url(images/you.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }
  .thread .avartar4 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: url(images/Roq.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }
  .thread .avartar5 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: url(images/basit.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }
  .thread .avartar6 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: url(images/john.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }
  .thread .avartar7 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: url(images/john.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }
 .thread .avartar8 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: url(images/you.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }
  .thread .body {
    flex: 1;
  }
  .thread .user {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }

  .thread .name {
    font-weight: 600;
    cursor: pointer;
  }
  .thread .handle {
    color: #888;
    font-size: 0.9em;
    cursor: pointer;
  }
  .thread .text {
    margin-top: 6px;
    line-height: 1.5;
    cursor: pointer;
  }
   .thread .media {
    margin-top: 8px;
    border-radius: 10px;
    overflow: hidden;
  }
  .thread .media img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    cursor: pointer;
  }

  .thread .actions {
    display: flex;
    gap: 20px;
    margin-top: 8px;
    font-size: 1em;
    color: #aaa;
  }
  .thread .actions span:hover {
    color: #fff;
    cursor: pointer;
  }

   footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #000;
    border-top: 1px solid #222;
  }
  .bottom-nav {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    color: #ccc;
    font-size: 1.3rem;
  }
  .bottom-nav a{
     color: #ccc;
  }
  .bottom-nav div:hover {
    color: #fff;
    cursor: pointer;
    
  }

  @media (min-width: 600px) {
    footer {
      position: fixed;
        bottom: 0;
        top: auto;
        width: 100%;
        height: 5rem;
    }
    .thread .media img {
      height: auto;
    }
    header{
      overflow: hidden;
    }
  }
  @media (max-width: 400px) {
    .nav{
      gap: 100px;
    }
    header{
      overflow: hidden;
    }
  }

